@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Manrope:wght@200&display=swap');

/* Main elements of vue :
Titles,
main-container
<a>
*/
html, body {
    font-family: 'Manrope', sans-serif;
}


h1, h2 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    color: #fadb02;
}


h3, h4 {
    font-family: 'Kalam', cursive;
    font-weight: 400;
}


h3 {
    width : 80%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(250,219,2,0.8) 10%,rgba(250,219,2,0.8) 50%,rgba(255,255,255,0) 100%)
    no-repeat bottom white;
    background-size:100% 5px;
    padding:5px 10px;
    margin: 4vh 2vw 4vh;
}


a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: none;
    cursor: default;
}

.list-group-item {
    border: none;
    background: #08af45;
    border-radius: 20px;
    color: #fadb02;
    margin-bottom: 1vh;
    font-family: 'Kalam', cursive;
}


.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 20px !important;
    border-top-right-radius: 20px !important;
}


.container-fluid {
    margin-top: 2vw ;
}


.row {
    margin-top: 5vh;
}


/* Parts of vue :
    Header
    Footer
    Nav
    Lists
    Comments
    */
header, footer {
    display: flex;
    justify-content: space-between;
    background-color: #08af45;
    padding-bottom: 10px;
}


footer {
    color: #fadb02;
}


.header-content {
    margin: 5px;
    font-family: 'Kalam', cursive;
}


.home-container {
    width: 80%;
    margin: 5px auto 5px auto;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fadb02;
    font-weight: 700;
    margin-top: 0;
    height:8vh;
}


nav div {
    margin: 15px;
}


.list-group {
    width : 70%;
}


.media{
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(250,219,2,0.8) 10%,rgba(250,219,2,0.8) 50%,rgba(255,255,255,0) 100%)
    no-repeat bottom white;
    background-size:100% 2px;
    padding: 10px;
    margin-bottom: 3vh;
}


.comment-info {
    display: flex;
    justify-content: space-between;
}

/* Set index.php*/
main .container {
    width: 90%;
    margin: 2vw auto 5vw auto;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    padding: 0;
}


.container div {
    background-color: white;
    text-align: center;
    margin: 2%;
    padding: 0;
}


.container div img {
    margin-top : 1vw;
    height: 240px;
    width: 240px;
    object-fit: cover;
}

/* Set recipe.php */
.img-recipe {
    width: 20vw;
    height: 20vw;
}


#ingredients-container {
    width: 33%;
}


#author {
    text-align: right;
    width : 80%;
}


#recipe-info {
    display: flex;
    justify-content: space-between;
}


/* Set article.php*/
.article-img {
    overflow: hidden;
}


.article-img img {
    width: 100vw;
    object-fit: cover;
}


/* Set articles.php & recipes.php*/
.card-container{
    display: flex;
    flex-wrap: nowrap;
    padding: 2rem;
}


.card {
    width: 18rem;
    margin: 1rem;
    box-shadow: 8px 2px 15px -5px rgba(170,170,170,1);
]}


.card-img-top {
    height: 8rem;
    object-fit: cover;
}
