@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Manrope:wght@200&display=swap');

/* Elements of vue :
        html & body
        Titles
        lists
        btn-primary
        <a>
*/
html, body {
    font-family: 'Manrope', sans-serif;
}

h1, h2 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    color: #fadb02;
}

h3, h4 {
    font-family: 'Kalam', cursive;
    font-weight: 400;
}

h3 {
    background:
    linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(250,219,2,0.8) 10%,rgba(250,219,2,0.8) 50%,rgba(255,255,255,0) 100%)
    no-repeat bottom white;
    background-size: 100% 5px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    cursor: default;
    font-weight: 700;
}

a:active {
    transform: scale(0.9);
    transition: 0.2s;
}

.sidebar {
    min-height: 30rem;
}

.list-group-item {
    border: none;
    background: #08af45;
    color: white;
    border-radius: 20px 0 20px 0;
    font-family: 'Kalam', cursive;
    min-height: 1.1em;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 20px 0 20px 0 !important;
}

.btn-primary {
    background: transparent;
    border-radius: 15px;
    border: #fadb02 2px solid;
    margin: 5px;
}

.btn-primary:hover {
    background: #fadb02;
    border: 2px solid transparent;
    color: inherit;
}

btn:focus, .btn-primary:focus{
    background: #fadb02;
    border: 2px solid #fadb02;
    color: black;
    scale: 0.9;
}

.btn-outline-secondary {
    color: inherit;
    border-color: #fadb02;
}

.btn-outline-secondary:hover {
    border: none;
    background: #fadb02;
}

/* Parts of vue :
    Header
    Footer
    Nav
    Lists
    Comments
    */
header{
    background-color: #08af45;
    font-family: 'Kalam', cursive;
}


footer {
    color: #08af45;
}


.nav {
    color: #fadb02;
    font-weight: 700;
}


.nav-item:hover {
    background: #fadb02;
    color: black;
}


.media{
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(250,219,2,0.8) 10%,rgba(250,219,2,0.8) 50%,rgba(255,255,255,0) 100%)
    no-repeat bottom white;
    background-size:100% 2px;
    padding: 10px;
    margin-bottom: 3vh;
}


.comment-info {
    display: flex;
    justify-content: space-between;
}


/* Set article.php*/
.article-img {
    overflow: hidden;
}


.article-img img {
    width: 100vw;
    object-fit: cover;
}


.card {
    box-shadow: 2px 2px 10px -5px rgba(0,0,0,0.75);
}


.card-img-top {
    height: 8rem;
    object-fit: cover;
}

svg {
    color: currentColor;
    width: 1em;
}

/*dialog overlay*/
.modal-window {
    z-index: 100;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    overflow-y: scroll;
    background: rgba(10, 18, 15, 0.66);}

/*dialog box*/
.modal-box {
    top: 0;
    bottom:0;
    opacity: 100%;
}

/*hidden and showed dialog*/

.modal-window[aria-hidden="true"] {
    display: none;
}

.modal-window[aria-hidden="false"] {
    display: flex;
    justify-content: center;
}

.close-btn {
    top: 0;
    right: 0;
}

.close-btn svg {
width : 1.5em;
}

.register-container {
    border: 3px solid #343a40;
    border-radius: 3rem;
}

.input-group-text {
    background: #fadb02;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


/*Tables styles*/
.table-striped tbody tr:nth-of-type(2n+1) {
    background-color:#fadb02
}